<!DOCTYPE html>
<html>

<head>
  <title>Gryte</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="styles.css?v={{guid}}" />
</head>

<body class="gryte-body">
  <header class="gryte-header">
    <div class="gryte-brand" aria-label="Gryte logo">
      <a class="gryte-brand__link" href="#">{{{logo}}}</a>
    </div>
    <nav class="gryte-nav">
      <button class="gryte-nav__open" aria-label="toggle menu">
        <div class="gryte-nav__open-lines"></div>
      </button>
      <div class="gryte-menu">
        <ul class="gryte-menu__list">
          {{#each menu}}
          <li class="gryte-menu__list-item">
            <h2 class="gryt-menu__headline">{{this.name}}</h2>
            <ul class="gryte-menu__sub-list">
              {{#each this.children}}
              <li class="gryte-menu__sub-list-item">
                <a class="gryte-menu__link" href="#/{{this.area}}/{{this.name}}" data-path="{{this.path}}">
                  {{this.title}}
                </a>
              </li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
      </div>
    </nav>
  </header>
  <main class="gryte-main" id="gryte-main">

  </main>
  <footer class="gryte-footer">

  </footer>
  <script src="gryte.js?v={{guid}}"></script>
</body>

</html>